<section>

  <article class="pa3 pa5-ns tc">
    <!-- <h1 class="f3 f1-m f-headline-l mb4">About Us</h1> -->
    <article class="pb4">
      <div class="about-image vh-50 dt w-100 tc bg-dark-gray white cover">
        <div class="dtc v-mid text-underlay">
          <h1 class="f1 f-headline-l fw1 i white-60">About Us</h1>
        </div>
      </div>
    </article>
    <p class="measure lh-copy center mb2">
      Welcome to Caregiver Connect Center.
    </p>
    <p class="measure lh-copy center mb2 ">
      On this website we provide many different ways for you to connect and engage with other caregivers from all over the world.
      Take a look at what we can offer!
    </p>
    <p class="measure lh-copy center mb2">

      Want to know more about special education for a child or an adult? Want to know more about advocacy organizations helping
      individuals with developmental disabilities? Or maybe you’re looking for a book recommendation on parenting a child
      with special needs? Then you should check out our thorough and detailed collection of informational and educational
      resources!

    </p>
    <p class="measure lh-copy center mb2">
      Have a question about your child’s Individualized Education Program (IEP)? Want to share an inspiring story about you and
      your child? Maybe you just need to blow off some steam and talk about the challenges you may face while caring for
      your child. Then you should check out our interactive forum and talk to other caregivers like you!

    </p>
    <p class="measure lh-copy center mb2">

      Don’t know what Respite Care is? Want to know more about Respite Care? Want to learn how to make your own Respite Care? Then
      you should check out our Respite Care Handbooks that are written for English language speakers and Spanish language
      speakers! We hope that CaregiverConnectCenter is your all-in-one, one-stop-shop website where you’re able to learn,
      engage and connect.
    </p>
    <p class="dn measure lh-copy center mb2">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
      aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
      no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>

    <p class="mt4 measure lh-copy center mb2 ">
      <span class="link b f4 f3-ns dim black-70 lh-solid">Contact Us: <a href="mailto:caregiverconnectcenter1@gmail.com">caregiverconnectcenter1@gmail.com</a></span>
    </p>
  </article>

</section>