<article class="pb4">
  <div class="survey-image vh-100 dt w-100 tc bg-dark-gray white cover">
    <div class="dtc v-mid">
      <h1 class="f1 f-headline-l fw1 i white-60">The Survey</h1>
      <blockquote class="ph0 mh0 mb4 measure f4 lh-copy center">
        <p class="fw1 white-70">
          Caregiving to us at Caregivers Connect, is the quintessential value that drives what we do.
        </p>
      </blockquote>
      <div class="mt2 typeform-button">
      <%= if (survey-taken) { %>
        <%= partial("survey/disabledbutton.html") %>
      <% } else { %>
        <%= partial("survey/typeformbutton.html") %>
      <% } %>
      </div>
    </div>
  </div>
</article>