<section class="finished">
  <section class="hero is-light is-large">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body welcome-image">
      <div class="container has-text-centered">
        
        <div class="text-underlay center width-fit mb3">
          <h1 class="f-5 white width-auto pa3">
            Thank You!
          </h1>
          <h2 class="f3 white width-auto pa3">We appreciate your participation</h2>
        </div>
        <!-- Hello Sign, to enter our site home -->
        <!-- <a class="button is-medium" href="/home">Go home</a> -->
      </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
    </div>
  </section>

</section>