// Bootstrap 4
@import "~bootstrap//scss/_functions.scss";
@import "~bootstrap//scss/_variables.scss";
@import "~bootstrap//scss/_mixins.scss";
// @import "~bootstrap//scss/_root.scss";
@import "~bootstrap//scss/_reboot.scss";
@import "~bootstrap//scss/_type.scss";
@import "~bootstrap//scss/_images.scss";
@import "~bootstrap//scss/_code.scss";
@import "~bootstrap//scss/_grid.scss";
@import "~bootstrap//scss/_tables.scss";
@import "~bootstrap//scss/_forms.scss";
@import "~bootstrap//scss/_buttons.scss";
@import "~bootstrap//scss/_transitions.scss";
@import "~bootstrap//scss/_dropdown.scss";
@import "~bootstrap//scss/_button-group.scss";
@import "~bootstrap//scss/_input-group.scss";
@import "~bootstrap//scss/_custom-forms.scss";
@import "~bootstrap//scss/_nav.scss";
@import "~bootstrap//scss/_navbar.scss";
@import "~bootstrap//scss/_card.scss";
@import "~bootstrap//scss/_breadcrumb.scss";
@import "~bootstrap//scss/_pagination.scss";
@import "~bootstrap//scss/_badge.scss";
@import "~bootstrap//scss/_jumbotron.scss";
@import "~bootstrap//scss/_alert.scss";
@import "~bootstrap//scss/_progress.scss";
@import "~bootstrap//scss/_media.scss";
@import "~bootstrap//scss/_list-group.scss";
@import "~bootstrap//scss/_close.scss";
@import "~bootstrap//scss/_modal.scss";
@import "~bootstrap//scss/_tooltip.scss";
@import "~bootstrap//scss/_popover.scss";
@import "~bootstrap//scss/_carousel.scss";
@import "~bootstrap//scss/_utilities.scss";
@import "~bootstrap//scss/_print.scss";

// @import "~font-awesome/css/font-awesome.css";

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.text-underlay {
  background: rgba(0,0,0,0.6);
}

.width-auto {
  width: auto;
}

.width-fit {
  width: fit-content;
}

/*
 NAV BAR WIDE
*/
.navbar {
  background-color: #FAD3CF !important;
}

.navbar-item {
  text-decoration: none;
}

/*
 ENTRY SECTION
*/
.entry {
  background: rgba(0,0,0,0.6);
}

.hero-text {
  width: fit-content;
  margin: 0 auto;
}

.welcome-image {
  // background: url('https://media.apts247.info/e6/e6ecb4197b6a475aac12e52c671947ad/galleries/community/amenities/Family6.jpg');
  background: url('http://www.alssaro.com/wp-content/uploads/2014/10/iStock_000011085198XXLarge.jpg');
  // -webkit-filter: brightness(40%); /* Safari 6.0 - 9.0 */
  // filter: brightness(40%);

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background: url('https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=imgres&cd=&cad=rja&uact=8&ved=2ahUKEwj5-aPNzqLdAhWZJDQIHQ8VA6sQjRx6BAgBEAU&url=https%3A%2F%2Ftownparcatamarillo.com%2Fgallery%2F&psig=AOvVaw22qSC8LbfmOpf2ZNJoLU4D&ust=1536193962786340');
  // background: url('https://images.unsplash.com/photo-1507608616759-54f48f0af0ee?ixlib=rb-0.3.5…EyMDd9&s=6419c61…&auto=format&fit=crop&w=2468&q=80');
}
.welcome-image::after {
  -webkit-filter: brightness(40%); /* Safari 6.0 - 9.0 */
  filter: brightness(40%);
  // background: url('https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=imgres&cd=&cad=rja&uact=8&ved=2ahUKEwj5-aPNzqLdAhWZJDQIHQ8VA6sQjRx6BAgBEAU&url=https%3A%2F%2Ftownparcatamarillo.com%2Fgallery%2F&psig=AOvVaw22qSC8LbfmOpf2ZNJoLU4D&ust=1536193962786340');
  // background: url('https://images.unsplash.com/photo-1507608616759-54f48f0af0ee?ixlib=rb-0.3.5…EyMDd9&s=6419c61…&auto=format&fit=crop&w=2468&q=80');
}


/*
 HOME SECTION
*/
.hero-image {
  background: url('https://webnew.ped.state.nm.us/wp-content/uploads/2017/12/stock_image_3.jpg') no-repeat center;
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background: url('https://images.unsplash.com/photo-1515066458641-f085b58be72f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1dc356c995c713385ecff5b9b0250f33&auto=format&fit=crop&w=1050&q=80');
}

/*
 ABOUT SECTION
*/
.about-image {
  background-position: center center;
  background: url('https://s3.amazonaws.com/spectrumnews-web-assets/uploads/2016/10/20161020-latinofamilies844.jpg') center;

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*
 RESOURCES SECTION
*/
.resources-image {
  background: url('http://andersonestateplanning.com/wp-content/uploads/2018/03/AdobeStock_139369572SML.jpg') no-repeat center;
}

/*
 SURVEY SECTION
*/
.survey-image {
  background: url('http://mrmrs.github.io/photos/u/013.jpg') no-repeat center;

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*
 FORUM SECTION
*/
.forum-image {
  background: url('https://static1.squarespace.com/static/5ac6fab43e2d09172e39f87d/t/5add494b758d46f994e72972/1524451703402/L2OA-family1.jpg') no-repeat center;

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// ACCORDIONS
h1 {
  text-align: center;
}
.half {
  float: center;
  width: 50%;
  padding: 0 1em;
}
/* Acordeon styles */
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: hsl(204, 86%, 53%);
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}
.blue label {
  background: #2980b9;
}
.tab-content {
  max-height: 0;
  overflow: hidden;
  // background: #1abc9c;
  color: #2c3e50;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}
.blue .tab-content {
  background: #3498db;
}
.tab-content p {
  margin: 1em;
}
/* :checked */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}
/* Icon */
.tab label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
.tab input[type=checkbox] + label::after {
  content: "+";
}
.tab input[type=radio] + label::after {
  content: "\25BC";
}
.tab input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
.tab input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}
