
<!-- Resources -->
<article class="pb4">
  <div class="resources-image vh-50 dt w-100 tc bg-dark-gray white cover">
    <div class="dtc v-mid text-underlay">
      <h1 class="f1 f-headline-l fw1 i white-60">Resources</h1>
      <blockquote class="ph0 mh0 mb4 measure f4 lh-copy center">
        <p class="fw1 white-70">
          Here are some resources available, free of charge
        </p>
      </blockquote>
    </div>
  </div>
</article>


<div class="download-links ">
  <!-- http://andersonestateplanning.com/wp-content/uploads/2018/03/AdobeStock_139369572SML.jpg -->
  <!-- PDF's (english/spanish) & download -->
  <div class="columns is-3 mx-auto">
    <div class="column english-book ma3">
  
      <section class="mw5 mw6-ns center bg-light-gray pa3 ph5-ns">
        <h1 class="mt0 mb4 b">Respite Care for Parents (English)</h1>
        <p class="lh-copy measure">
  
        </p>
        <a class="button is-warning" href="<%= assetPath("RespiteCareHandbook_English.pdf") %>" download >Download English Version</a>
  
        </section>
        
      </div>
      <div class="column spanish-book ma3">
        
        <section class="mw5 mw6-ns center bg-light-gray pa3 ph5-ns">
          <h1 class="mt0 mb4 b">Respite Care for Parents (Spanish)</h1>
          <p class="lh-copy measure">
  
          </p>
          <a class="button is-warning" href="<%= assetPath("RespiteCareHandbook_Spanish.pdf") %>" download>Download Spanish Version</a>
        </section>
      </div>
      <div class="column latino-book ma3">
        
        <section class="mw5 mw6-ns center bg-light-gray pa3 ph5-ns">
          <h1 class="mt0 mb4 b">Respite Care for Parents (Ingles por Latinos)</h1>
          <p class="lh-copy measure">
  
          </p>
          <a class="button is-warning" href="<%= assetPath("RespiteCareHandbook_EnglishforLatinos.pdf") %>" download>Download Latino Version</a>
        </section>
      </div>
  </div>
</div>

<!-- Accordions -->
<div id="accordion" class="w-75 center mb4">
  <!-- 1. General -->
  <div class="card mb3">
    <div class="card-header " id="headingOne">
      <h5 class="mb-0 center">
        <button class="btn btn-link link center " data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          General (Trainings, Programs, Education, Further Resources)
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <div class="mw5 mw7-ns center pa3 ph5-ns">
            <p class="mb4"> Some of our general resources </strong></p>
            <!-- Tab -->
            <div class="tab">
              <input id="tab-one" type="checkbox" name="tabs">
              <label for="tab-one">Autistic Self Advocacy Network</label>
              <div class="tab-content">
                <p>The Autistic Self Advocacy Network(ASAN) seeks to advance the principles of the disability rights movement with regard to
                autism. ASAN believes that the goal of autism advocacy should be a world in which autistic people enjoy equal access, rights,
                and opportunities. We work to empower autistic people across the world to take control of our own lives and the future of
                our common community, and seek to organize the autistic community to ensure our voices are heard in the national conversation
                about us.</p>
                <a class="button mb3" href="https://autisticadvocacy.org/">Go to Site</a>
              </div>
            </div>
            <!-- Tab -->
            <div class="tab">
              <input id="tab-two" type="checkbox" name="tabs">
              <label for="tab-two">University of Minnesota: Institute on Community Integration</label>
              <div class="tab-content">
                <p>Through collaborative research, training, and information sharing, the Institute on Community Integration improves policies
                and practices to ensure that all children, youth, and adults with disabilities are valued by, and contribute to, their communities
                of choice. We work with service providers, policymakers, educators, advocacy and self-advocacy organizations, researchers,
                families, and individuals with disabilities around the world to provide state-of-the-art information and practices that support
                the community inclusion of individuals with disabilities.</p>
                <a class="button mb3" href="https://ici.umn.edu/">Go to Site</a>
              </div>
            </div>
            <!-- Tab -->
            <div class="tab">
              <input id="tab-three" type="checkbox" name="tabs">
              <label for="tab-three">Center for Parent Information and Resources</label>
              <div class="tab-content">
                <p>The Center for Parent Information and Resources is a hub for information, services and resources. All the materials found
                on the Center for Parent Information and Resources (CPIR) Hub have been created and archived for Parent Centers around the
                country to help them provide support and services to the families they serve. The CPIR employs a user-centered process, gathering
                the perspectives of our experienced audience—Parent Center staff members and other experts—every step of the way, to create
                products and services that increase Parent Centers’ knowledge and capacity in specific domains.</p>
                <a class="button mb3" href="http://www.parentcenterhub.org/">Go to Site</a>
              </div>
            </div>
            <!-- Tab -->
            <div class="tab">
              <input id="tab-four" type="checkbox" name="tabs">
              <label for="tab-four">Child Development Institute</label>
              <div class="tab-content">
                <p>
                   The Child Development Institute is a “go to” site for parents for information, products and services related to child development,
                  psychology, health, parenting, learning, media, entertainment, family activities as well as to connect with other parents,
                  professional experts organizations and other useful websites.
                </p>
                <a class="button mb3" href="https://childdevelopmentinfo.com/">Go to Site</a>
              </div>
            </div>
            <!-- Tab -->
            <div class="tab">
              <input id="tab-five" type="checkbox" name="tabs">
              <label for="tab-five">Through the Looking Glass</label>
              <div class="tab-content">
                <p>
                   Through the Looking Glass (TLG) is a nationally-recognized center that has pioneered research, training and services for
                  families in which a child, parent or grandparent has a disability or medical issue. Our mission is “To create, demonstrate
                  and encourage non-pathological and empowering resources and model early intervention services for families with disability
                  issues in parent or child which integrate expertise derived from personal disability experience and disability culture.
                </p>
                <a class="button mb3" href="http://www.lookingglass.org/national-services">Go to Site</a>
              </div>
            </div>
            <!-- Tab -->
            <div class="tab">
              <input id="tab-six" type="checkbox" name="tabs">
              <label for="tab-six">Parents Helping Parents</label>
              <div class="tab-content">
                <p>
                   As a parent-directed, community-based organization, Parents Helping Parents mission was developed in response to the need
                  in our community for information, training, and support services for families who have children with special needs and the
                  professionals who serve them. Parents Helping Parents is a community-based and parent-directed Family Resource Center, Parent
                  Training and Information Center and Family Empowerment Center.
                </p>
                <a class="button mb3" href="http://www.php.com/">Go to Site</a>
              </div>
            </div>
            <!-- Tab -->
            <div class="tab">
              <input id="tab-seven" type="checkbox" name="tabs">
              <label for="tab-seven">National PTA: Special Education Toolkit</label>
              <div class="tab-content">
                <p>
                   The Special Education Toolkit helps make sense of an often confusing system and educates families of newly diagnosed children
                  with special needs on how to get the best special education, services and resources available to them.
                </p>
                <a class="button mb3" href="https://www.pta.org/home/family-resources/Special-Education-Toolkit">Go to Site</a>
              </div>
            </div>
            <!-- Tab -->
            <div class="tab">
              <input id="tab-eight" type="checkbox" name="tabs">
              <label for="tab-eight">U.S Department of Education</label>
              <div class="tab-content">
                <p>
                   The Department of Education provides a list of resources pertaining to the needs of children with disabilities.
                </p>
                <a class="button mb3" href="https://www2.ed.gov/parents/needs/speced/edpicks.jhtml">Go to Site</a>
              </div>
            </div>
            <!-- Tab -->
            <div class="tab">
              <input id="tab-nine" type="checkbox" name="tabs">
              <label for="tab-nine">Easter Seals</label>
              <div class="tab-content">
                <p>
                   Easter Seals provides education, outreach and advocacy so that people living with autism and other disabilities can live,
                  learn, work and play in our communities.
                </p>
                <a class="button mb3" href="http://www.easterseals.com/">Go to Site</a>
              </div>
            </div>
            <!-- Tab -->
            <div class="tab">
              <input id="tab-ten" type="checkbox" name="tabs">
              <label for="tab-ten">TASH: The Association for Person with Severe Handicaps</label>
              <div class="tab-content">
                <p>
                   TASH promotes the full inclusion and participation of children and adults with significant disabilities in every aspect
                  of their community, and to eliminate the social injustices that diminish human rights.
                </p>
                <a class="button mb3" href="https://tash.org/">Go to Site</a>
              </div>
            </div>
            <!-- Tab -->
            <div class="tab">
              <input id="tab-eleven" type="checkbox" name="tabs">
              <label for="tab-eleven">Federation for Children with Special Needs</label>
              <div class="tab-content">
                <p>
                   The Federation for Children with Special Needs provides information, support, and assistance to parents of children with
                  disabilities, their professional partners, and their communities. We are committed to listening to and learning from families,
                  and encouraging full participation in community life by all people, especially those with disabilities.
                </p>
                <a class="button mb3" href="https://fcsn.org/">Go to Site</a>
              </div>
            </div>
            <!-- Tab -->
            <div class="tab">
              <input id="tab-twelve" type="checkbox" name="tabs">
              <label for="tab-twelve">TASK</label>
              <div class="tab-content">
                <p>
                   TASK specializes in special education support for people with disabilities from birth to age 26 and their families. We support
                  all disabilities, including mental illness, chronic health and medical conditions, and emotional challenges due to abuse
                  or environmental trauma. Our role is to provide emotional support and educate parents about special education systems and
                  processes, so that they can be more effective participants in their child’s education.
                </p>
                <a class="button mb3" href="http://taskca.org/">Go to Site</a>
              </div>
            </div>
            <!-- Tab -->
            <div class="tab">
              <input id="tab-thirteen" type="checkbox" name="tabs">
              <label for="tab-thirteen">The Arc</label>
              <div class="tab-content">
                <p>
                   The Arc is the largest national community-based organization advocating for and serving people with intellectual and developmental
                  disabilities and their families. We encompass all ages and all spectrums from autism, Down syndrome, Fragile X and various
                  other developmental disabilities. The Arc is on the front lines to ensure that people with intellectual and developmental
                  disabilities and their families have the support and services they need to be fully engaged in their communities.
                </p>
                <a class="button mb3" href="https://www.thearc.org/page.aspx?pid=2530#wrapContent">Go to Site</a>
              </div>
            </div>
            <!-- Tab -->
            <div class="tab">
              <input id="tab-fourteen" type="checkbox" name="tabs">
              <label for="tab-fourteen">National Down Syndrome Society</label>
              <div class="tab-content">
                <p>
                   The National Down Syndrome Society is the leading human rights organization for all individuals with Down syndrome.
                </p>
                <a class="button mb3" href="https://www.ndss.org/">Go to Site</a>
              </div>
            </div>
            <!-- Tab -->
            <div class="tab">
              <input id="tab-fifteen" type="checkbox" name="tabs">
              <label for="tab-fifteen">National Down Syndrome Congress</label>
              <div class="tab-content">
                <p>
                   The National Down Syndrome Congress is dedicated to an improved world for individuals with Down syndrome. We are the leading
                  national resource of support and information for anyone touched by or seeking to learn about Down syndrome. The purpose of
                  the NDSC is to promote the interests of people with Down syndrome and their families through advocacy, public awareness,
                  and information. When we empower individuals and families from all demographic backgrounds, we reshape the way people understand
                  and experience Down syndrome.
                </p>
                <a class="button mb3" href="https://www.ndsccenter.org/">Go to Site</a>
              </div>
            </div>
            <!-- Tab -->
            <div class="tab">
              <input id="tab-sixteen" type="checkbox" name="tabs">
              <label for="tab-sixteen">Autism Society (Also in Spanish)</label>
              <div class="tab-content">
                <p>
                   Autism Society aims to improve the lives of all living with autism. In order to improve lives, we focus on ensuring that
                  all individuals with autism and their families have access to the help they need; Advocacy, Education, Information & Referral,
                  Support, and Community.
                </p>
                <a class="button mb3" href="https://www.autism-society.org/">Go to Site</a>
              </div>
            </div>
            <!-- Tab -->
            <div class="tab">
              <input id="tab-seventeen" type="checkbox" name="tabs">
              <label for="tab-seventeen">Autcom: Autism National Committee"</label>
              <div class="tab-content">
                <p>
                   Autism National Committee is the only autism advocacy organization dedicated to “Social Justice for All Citizens with Autism”
                  through a shared vision and a commitment to positive approaches. Our organization was founded in 1990 to protect and advance
                  the human rights and civil rights of all persons with autism, pervasive developmental disorder and related differences of
                  communication and behavior.
                </p>
                <a class="button mb3" href="http://www.autcom.org/index.html">Go to Site</a>
              </div>
            </div>
            <!-- Tab -->
            <div class="tab">
              <input id="tab-eighteen" type="checkbox" name="tabs">
              <label for="tab-eighteen">Autism Treatment Center of America</label>
              <div class="tab-content">
                <p>
                   The Autism Treatment Center of America has provided innovative training programs for parents and professionals caring for
                  children challenged by autism, autism spectrum disorders, pervasive developmental disorder (PDD) and other developmental
                  difficulties.
                </p>
                <a class="button mb3" href="https://www.autismtreatmentcenter.org/">Go to Site</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 2. General (Women) -->
  <div class="card mb3">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0 center">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          General (Women)
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <!-- Card Content -->
        <div class="mw5 mw7-ns center pa3 ph5-ns">
          <!-- Tab -->
          <div class="tab">
            <input id="tab-nineteen" type="checkbox" name="tabs">
            <label for="tab-nineteen">Autism Women’s Network</label>
            <div class="tab-content">
              <p>
                 Autism Women’s Network provides effective supports to Autistic women and girls of all ages through a sense of community,
                advocacy and resources.
              </p>
              <a class="button mb3" href="https://autismwomensnetwork.org">Go to Site</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 3. Education / Learning / Employment -->
  <div class="card mb3">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0 center">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Education / Learning / Employment
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <!-- Card Content -->
        <div class="mw5 mw7-ns center pa3 ph5-ns">
          <!-- Tab -->
          <div class="tab">
            <input id="tab-twenty" type="checkbox" name="tabs">
            <label for="tab-twenty">Wrights Law</label>
            <div class="tab-content">
              <p>
                 Wrights Law provides accurate, up-to-date information about special education law and advocacy
              </p>
              <a class="button mb3" href="http://www.wrightslaw.com/">Go to Site</a>
            </div>
          </div>

          <!-- Tab -->
          <div class="tab">
            <input id="tab-twentyone" type="checkbox" name="tabs">
            <label for="tab-twentyone">Closing the Gap</label>
            <div class="tab-content">
              <p>
                 Closing the Gap specializes in assistive technology news, resources and professional development opportunities. Closing
                the Gap provides services and education for special educators, rehabilitation professionals and consumers.
              </p>
              <a class="button mb3" href="https://www.closingthegap.com/">Go to Site</a>
            </div>
          </div>

          <!-- Tab -->
          <div class="tab">
            <input id="tab-twentytwo" type="checkbox" name="tabs">
            <label for="tab-twentytwo">Council for Exceptional Children</label>
            <div class="tab-content">
              <p>
                The Council for Exceptional Children is a professional association of educators dedicated to advancing the success of children
                with exceptionalities. We accomplish our mission through advocacy, standards, and professional development.
              </p>
              <a class="button mb3" href="https://www.cec.sped.org/">Go to Site</a>
            </div>
          </div>
          <!-- Tab -->
          <div class="tab">
            <input id="tab-twentythree" type="checkbox" name="tabs">
            <label for="tab-twentythree">George Washington University: Health Resource Center at the National Youth Transitions Center</label>
            <div class="tab-content">
              <p>
                 The Health Resource Center at the National Youth Transitions Center (HEATH) is an online clearinghouse on postsecondary
                education for individuals with disabilities.
              </p>
              <a class="button mb3" href="https://www.heath.gwu.edu/">Go to Site</a>
            </div>
          </div>
          <!-- Tab -->
          <div class="tab">
            <input id="tab-twentyfour" type="checkbox" name="tabs">
            <label for="tab-twentyfour">K12 Academics</label>
            <div class="tab-content">
              <p>
                 K12 Academics is a national education and disability resource website.
              </p>
              <a class="button mb3" href="https://www.k12academics.com/">Go to Site</a>
            </div>
          </div>
          <!-- Tab -->
          <div class="tab">
            <input id="tab-twentyfive" type="checkbox" name="tabs">
            <label for="tab-twentyfive">National Center on Secondary Education and Transition</label>
            <div class="tab-content">
              <p>
                 The National Center on Secondary Education and Transition (NCSET) was established to create opportunities for youth with
                disabilities to achieve successful futures.
              </p>
              <a class="button mb3" href="http://www.ncset.org/">Go to Site</a>
            </div>
          </div>
          <!-- Tab -->
          <div class="tab">
            <input id="tab-twentysix" type="checkbox" name="tabs">
            <label for="tab-twentysix">National Collaborative on Workforce and Disability for Youth</label>
            <div class="tab-content">
              <p>
                 The National Collaborative on Workforce and Disability for Youth (NCWD/Youth) assists state and local workforce development
                systems to better serve all youth, including youth with disabilities and other disconnected youth. NCWD/Youth works to ensure
                that transition age youth are provided full access to high quality services in integrated settings to gain education, employment
                and independent living
              </p>
              <a class="button mb3" href="http://www.ncwd-youth.info/">Go to Site</a>
            </div>
          </div>
          <!-- Tab -->
          <div class="tab">
            <input id="tab-twentyseven" type="checkbox" name="tabs">
            <label for="tab-twentyseven">National Council on Independent Living</label>
            <div class="tab-content">
              <p>
                 National Council on Independent Living (NCIL) advances independent living and the rights of people with disabilities.
              </p>
              <a class="button mb3" href="https://www.ncil.org/">Go to Site</a>
            </div>
          </div>
          <!-- Tab -->
          <div class="tab">
            <input id="tab-twentyeight" type="checkbox" name="tabs">
            <label for="tab-twentyeight">U.S Department of Labor: Office of Disability Employment Policy</label>
            <div class="tab-content">
              <p>
                 The Office of Disability Employment Policy’s (ODEP) mission is to develop and influence policies and practices that increase
                the number and quality of employment opportunities for people with disabilities.
              </p>
              <a class="button mb3" href="https://www.dol.gov/odep/#">Go to Site</a>
            </div>
          </div>
          <!-- Tab -->
          <div class="tab">
            <input id="tab-twentynine" type="checkbox" name="tabs">
            <label for="tab-twentynine">PACER Center</label>
            <div class="tab-content">
              <p>
                 PACER Center enhances the quality of life and expands opportunities for children, youth, and young adults with all disabilities
                and their families so each person can reach his or her highest potential. PACER operates on the principles of parents helping
                parents, supporting families, promoting a safe environment for all children, and working in collaboration with others.
              </p>
              <a class="button mb3" href="http://www.pacer.org/">Go to Site</a>
            </div>
          </div>
          <!-- Tab -->
          <div class="tab">
            <input id="tab-thirty" type="checkbox" name="tabs">
            <label for="tab-thirty">University of Washington: Disabilities, Opportunities, Internetworking and Technology</label>
            <div class="tab-content">
              <p>
                 The Disabilities, Opportunities, Internetworking, and Technology Center (DO-IT) is dedicated to empowering people with disabilities
                through technology and education. It promotes awareness and accessibility—in both the classroom and the workplace—to maximize
                the potential of individuals with disabilities and make our communities more vibrant, diverse, and inclusive.
              </p>
              <a class="button mb3" href="https://www.washington.edu/doit/">Go to Site</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- 4. Personal Blog/ Advocacy -->
  <div class="card mb3">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0 center">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Personal Blog/ Advocacy
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        <!-- Card Content -->
        <div class="mw5 mw7-ns center pa3 ph5-ns">
          
          
          <!-- Tab -->
          <div class="tab">
            <input id="tab-thirtyone" type="checkbox" name="tabs">
            <label for="tab-thirtyone">The Vivid Project</label>
            <div class="tab-content">
              <p>
                 Hello! My name is Raesha Barfuss. I’m a self taught-artist from Austin, Texas. I’m married to Marine Corps Veteran Kyle
                Barfuss, and together we have a beautiful little boy named Brandon. After working 10 years in the medical field and the birth
                of my son; I decided to pursue my passion and love for art. Since I was a little girl I have always enjoyed building, creating,
                and sharing new ideas. Our son Brandon, was diagnosed with Autism Spectrum Disorder which effects his communication and language
                development. After receiving his diagnosis my interests & mindset became more focused on finding new methods to help develop
                Brandon’s communication skills; leading me into Art Therapy/Education. Over this period, I have gained knowledge and insight
                as to how active art making can enhance the lives of autistic children. Incorporating Art therapy into our lives has opened
                up a whole new world of connecting & communicating in fun creative ways. I’m happy to say that Brandon is doing well, and
                he continues to work hard everyday. We hope to inspire, educate, & spread awareness through creative artistic expression.
              </p>
              <a class="button mb3" href="https://vividproject.org/">Go to Site</a>
            </div>
          </div>
          
          <!-- Tab -->
          <div class="tab">
            <input id="tab-thirtytwo" type="checkbox" name="tabs">
            <label for="tab-thirtytwo">Autistic Avenger</label>
            <div class="tab-content">
              <p>
                 Blog for autism stuff. Topics will include, but aren't limited to: self advocacy, autistic rights, parenting an autistic
                child, autistic culture, policy and action alerts, and whatever else comes to my mind.
              </p>
              <a class="button mb3" href="https://autisticavenger.blogspot.ca/">Go to Site</a>
            </div>
          </div>
          
          <!-- Tab -->
          <div class="tab">
            <input id="tab-thirtythree" type="checkbox" name="tabs">
            <label for="tab-thirtythree">Cracked Mirror in Shalott</label>
            <div class="tab-content">
              <p>
                 Savannah began formally advocating at the age of 12, when her mother asked her to sit on a panel for a a state level conference
                presentation. Advocacy became a true passion for Savannah once she became an adult. Co-morbidly diagnosed GAD, PTSD, and
                ASD , she worked in Mental Health advocacy before she connected with the ASD and DD communities. In adulthood, she was diagnosed
                with several chronic health disabilities, some of which have a mild-to-moderate impact on mobility depending on the day.
              </p>
              <a class="button mb3" href="https://crackedmirrorinshalott.wordpress.com/">Go to Site</a>
            </div>
          </div>
          
          <!-- Tab -->
          <div class="tab">
            <input id="tab-thirtyfour" type="checkbox" name="tabs">
            <label for="tab-thirtyfour">Mule and Muse Productions</label>
            <div class="tab-content">
              <p>
                 The creators of Mule and Muse Productions, Barb Rentenbach and Lois Prislovsky, Ph.D. welcome you. Barb is a contemplative
                which means she spends most of her time thinking about things that are not present and observing that which is. It is a tidy
                job, but somebody has to do it. Her advanced autistic mute degrees make her more equipped than most for this calling. Lois
                is an educational psychologist with real world stamina and training. Their world views are different, but together they work
                with psychology and lots of trial and error to discover much about friendship, neurodiversity, and more. Their work illuminates
                the value of paying much more attention to individuals with fresh perspectives.
              </p>
              <a class="button mb3" href="http://muleandmuseproductions.com/">Go to Site</a>
            </div>
          </div>
          
          <!-- Tab -->
          <div class="tab">
            <input id="tab-thirtyfive" type="checkbox" name="tabs">
            <label for="tab-thirtyfive">NOS Magazine</label>
            <div class="tab-content">
              <p>
                 NOS Magazine is a news and commentary source for thought and analysis about neurodiversity culture and representation
              </p>
              <a class="button mb3" href="http://nosmag.org/">Go to Site</a>
            </div>
          </div>
          
          <!-- Tab -->
          <div class="tab">
            <input id="tab-thirtysix" type="checkbox" name="tabs">
            <label for="tab-thirtysix">Parenting Autistic Children with Love and Acceptance</label>
            <div class="tab-content">
              <p>
                 This is a space to give a sense of community to parents that choose to parent Autistic children with love and acceptance.
                This is an Autistic safe space — meaning that bashing and demeaning Autistic people is strictly not allowed. All discussions
                will be moderated to that effect. In this space, parents are encouraged to discuss supporting and accommodating Autistic
                children respectfully, advocating for neurodiversity, and the bountiful joys of raising Autistic children.
              </p>
              <a class="button mb3" href="https://autloveaccept.wordpress.com/">Go to Site</a>
            </div>
          </div>
          
          <!-- Tab -->
          <div class="tab">
            <input id="tab-thirtyseven" type="checkbox" name="tabs">
            <label for="tab-thirtyseven">Disability Scoop</label>
            <div class="tab-content">
              <p>
                 Disability Scoop is the nation’s largest news organization devoted to covering developmental disabilities. With daily coverage
                of autism, intellectual disability, cerebral palsy, Down syndrome and more, no other news source offers a more timely and
                comprehensive take on the issues that matter to the developmental disability community.
              </p>
              <a class="button mb3" href="https://www.disabilityscoop.com/">Go to Site</a>
            </div>
          </div>
          
          <!-- Tab -->
          <div class="tab">
            <input id="tab-thirtyeight" type="checkbox" name="tabs">
            <label for="tab-thirtyeight">Autistic Hoya</label>
            <div class="tab-content">
              <p>
                 I'm a writer, dreamer, activist/organizer, and speaker/educator. Some of the many marginal identities/experiences I hold
                are that I'm autistic and multiply otherwise neurodivergent and disabled, queer, asexual-spectrum, genderqueer/non-binary
                and sometimes read as feminine, and transracially and transnationally adopted east asian person of color from China (into
                a white adoptive family). I'm also working to examine and challenge the privilege and power I hold as someone raised with
                middle and upper-middle class money privilege, a U.S. citizen and native English speaker, fairly light-skinned and mostly
                able-bodied (as hearing, sighted, and walking), raised in a deeply religious and engaged Christian community, educated in
                a private college and now in law school.
              </p>
              <a class="button mb3" href="http://autistichoya.com/">Go to Site</a>
            </div>
          </div>
          
          <!-- Tab -->
          <div class="tab">
            <input id="tab-thirtynine" type="checkbox" name="tabs">
            <label for="tab-thirtynine">Ramp Your Voice"</label>
            <div class="tab-content">
              <p>
                 The mission of Ramp Your Voice is to promote empowerment, education, inclusion, and self-advocacy for disabled people across
                the United States and abroad.
              </p>
              <a class="button mb3" href="http://rampyourvoice.com/">Go to Site</a>
            </div>
          </div>
          
          <!-- Tab -->
          <div class="tab">
            <input id="tab-forty" type="checkbox" name="tabs">
            <label for="tab-forty">A Day In Our Shoes</label>
            <div class="tab-content">
              <p>
                 A Day In Our Shoes provides IEP Advice, Special Ed Advocacy and Disability resources
              </p>
              <a class="button mb3" href="https://adayinourshoes.com/">Go to Site</a>
            </div>
          </div>
          
          <!-- Tab -->
          <div class="tab">
            <input id="tab-fortyone" type="checkbox" name="tabs">
            <label for="tab-fortyone">Singing Through the Rain</label>
            <div class="tab-content">
              <p>
                 List of different resources for individuals diagnosed with Developmental Disabilities and Parents who have children with
                Developmental Disabilities.
              </p>
              <a class="button mb3" href="https://singingthroughtherain.net/2015/10/groups-for-special-needs-families.html">Go to Site</a>
            </div>
          </div>
          
          <!-- Tab -->
          <div class="tab">
            <input id="tab-fortytwo" type="checkbox" name="tabs">
            <label for="tab-fortytwo">Hopeful Parents</label>
            <div class="tab-content">
              <p>
                 Hopeful Parents is a place of common ground. We'll introduce you to our diverse pool of talented, thoughtful writers who
                will share their stories, their feelings, their ups and their downs. You'll meet parents raising children with physical,
                psychological, emotional, neurological, sensory, behavioral, social, genetic, and developmental disabilities. Some parents
                are single, some are married. Some grieve the loss of their child; some grieve the loss of their spouse. You'll also meet
                healers -- the 'medics' who help us through our run. People we can turn to in our pain; people who can help provide some
                relief. These writers -- the parents, the healers -- remind us that we're all on this journey together. We don't have to
                go it alone.
              </p>
              <a class="button mb3" href="http://www.hopefulparents.org/">Go to Site</a>
            </div>
          </div>
          
          <!-- Tab -->
          <div class="tab">
            <input id="tab-fortythree" type="checkbox" name="tabs">
            <label for="tab-fortythree">Support for Special Needs</label>
            <div class="tab-content">
              <p>
                 It’s an all encompassing label, yet we let a diagnosis divide us among this powerful group of advocates and caregivers into
                categories of rare and not-so-rare diseases, genetic conditions, developmental delays and the unexplained afflictions. We
                have more in common than separates us and Support for Special Needs is the community that offers a chance to exchange wisdom
                and ideas among one of the most powerful group of people we know. Join us as we share information that helps us navigate
                the special needs waters better.
              </p>
              <a class="button mb3" href="http://supportforspecialneeds.com/">Go to Site</a>
            </div>
          </div>
          
          <!-- Tab -->
          <div class="tab">
            <input id="tab-fortyfour" type="checkbox" name="tabs">
            <label for="tab-fortyfour">Mamatude: Parenting Isn’t Pretty</label>
            <div class="tab-content">
              <p>
                 Personal blog of Terri Mauro, About.com Guide for Special Needs and author of the fantastic 50 Ways to Support Your Child's
                Special Education. Terry and her husband are the proud parents of two teenagers adopted from Russia as young children. As
                she says, 'Life is… interesting.' Is it ever!
              </p>
              <a class="button mb3" href="http://mamatude.blogspot.com/">Go to Site</a>
            </div>
          </div>
          
          <!-- Tab -->
          <div class="tab">
            <input id="tab-fortyfive" type="checkbox" name="tabs">
            <label for="tab-fortyfive">Mom-Not Otherwise Specified</label>
            <div class="tab-content">
              <p>
                 Personal Blog
              </p>
              <a class="button mb3" href="http://momnos.blogspot.com/">Go to Site</a>
            </div>
          </div>
          
          <!-- Tab -->
          <div class="tab">
            <input id="tab-fortysix" type="checkbox" name="tabs">
            <label for="tab-fortysix">Love That Max</label>
            <div class="tab-content">
              <p>
                 First came love (Dave), then marriage, then three kids (Max, Sabrina and Ben). Max has cerebral palsy. I launched Love That
                Max in October 2008 as an inspirational, informational, occasionally irreverent blog. It is currently the #1 disability blog
                by traffic ranking, and content regularly appears on The Huffington Post. The blog has been featured on Time.com, Upworthy,
                The Huffington Post, CNN.com, Mashable, Today.com, Yahoo, The New York Times' blog The Motherlode, AOL, MSN.com, MTV.com
                and The Daily Mail, as well as in Redbook, Real Simple, Parents, Good Housekeeping, Woman's Day, Family Circle and All You
                magazines.
              </p>
              <a class="button mb3" href="http://www.lovethatmax.com/">Go to Site</a>
            </div>
          </div>
          
          <!-- Tab -->
          <div class="tab">
            <input id="tab-fortyseven" type="checkbox" name="tabs">
            <label for="tab-fortyseven">Wrights Law Blog</label>
            <div class="tab-content">
              <p>
                 Wrights Law is a resource for parents of kids with special needs. Provides information about advocacy, education and treatment
                services.
              </p>
              <a class="button mb3" href="http://www.wrightslaw.com/blog/">Go to Site</a>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>

  <!-- 5. Facebook Groups -->
  <div class="card mb3">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0 center">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Facebook Groups
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        <!-- Card Content -->
        <div class="mw5 mw7-ns center pa3 ph5-ns">
        
          <!-- Tab -->
          <div class="tab">
            <input id="tab-fortyeight" type="checkbox" name="tabs">
            <label for="tab-fortyeight">Mommies of Miracles</label>
            <div class="tab-content">
              <p>Mommies of Miracles aims to eliminate the isolation mothers of exceptional needs children experience on a daily basis by
              providing an extended network of resources, products & services, grief support, family matching, and hope.</p>
              <a class="button mb3" href="https://www.facebook.com/MommiesofMiracles/">Go to Site</a>
            </div>
          </div>
        
          <!-- Tab -->
          <div class="tab">
            <input id="tab-fortynine" type="checkbox" name="tabs">
            <label for="tab-fortynine">The Wolfpack</label>
            <div class="tab-content">
              <p>
                 The Wolfpack was formed on October 22, 2012 and is a closed group for families who have 2 or more children with special
                needs and/or super powers. Must send a message to gain access to the group.
              </p>
              <!-- <a class="button mb3" href="">Go to Site</a> -->
            </div>
          </div>
        
          <!-- Tab -->
          <div class="tab">
            <input id="tab-fifty" type="checkbox" name="tabs">
            <label for="tab-fifty">Special Needs Parenting Bloggers</label>
            <div class="tab-content">
              <p>
                 Our group is for bloggers who post about special needs parenting or disability issues. Share, discuss, and ask questions
                about blogging and specific issues about special needs parenting and disabilities. We're an active, lively group! If you're
                a blogger, come join us! (Sorry, bloggers only.)
              </p>
              <!-- <a class="button mb3" href="">Go to Site</a> -->
            </div>
          </div>
        
          <!-- Tab -->
          <div class="tab">
            <input id="tab-fiftyone" type="checkbox" name="tabs">
            <label for="tab-fiftyone">Loving a Miracle – Special Parents Supporting Each Other</label>
            <div class="tab-content">
              <p>
                 This is a group designed for parents of micro preemies, & special needs children. It is intended to be a place to connect
                with other parents who 'get it', whose experiences go beyond typical. It allows us to give, and receive support, as we face
                the unique challenges we share, because we happen to love a miracle. Please feel free to introduce yourself and your miracle.
              </p>
              <!-- <a class="button mb3" href="">Go to Site</a> -->
            </div>
          </div>
        
          <!-- Tab -->
          <div class="tab">
            <input id="tab-fiftytwo" type="checkbox" name="tabs">
            <label for="tab-fiftytwo">Parents of Autistic Children</label>
            <div class="tab-content">
              <p>
                 This is a group to provide support and information for parents who have children with Autism
              </p>
              <!-- <a class="button mb3" href="">Go to Site</a> -->
            </div>
          </div>
       
        
        </div>


      </div>
    </div>
  </div>

  <!-- 6. En Español -->
  <div class="card mb3">
    <div class="card-header" id="headingSix">
      <h5 class="mb-0 center">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          En Español
        </button>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
      <div class="card-body">
        <!-- Card Content -->
        <div class="mw5 mw7-ns center pa3 ph5-ns">
          <!-- Tab -->
          <div class="tab">
            <input id="tab-fiftythree" type="checkbox" name="tabs">
            <label for="tab-fiftythree">OSEP English to Spanish Translation</label>
            <div class="tab-content">
              <p>
                 A practical and useful glossary of terms used in the Individuals with Disabilities Act, with their Spanish translations.
                The glossary is a valuable translation tool for families, Parent Centers, Part C lead agencies, state education agencies,
                school districts, and service providers across the U.S. and territories who work with children with disabilities and their
                families.
              </p>
              <a class="button mb3" href="http://glossary.spanadvocacy.org/">Go to Site</a>
            </div>
          </div>
          
          <!-- Tab -->
          <div class="tab">
            <input id="tab-fiftyfour" type="checkbox" name="tabs">
            <label for="tab-fiftyfour">School Obligations to English Learner Students and Limited English Proficient Parents</label>
            <div class="tab-content">
              <p>
                 Multiple resources from the Federal Government, including fact sheets in English and in other languages about schools’ obligations
                under federal law (a) to ensure that English learner students can participate meaningfully and equally in school; and (b)
                to communicate information to limited English proficient parents in a language they can understand.
              </p>
              <a class="button mb3" href="https://www2.ed.gov/about/offices/list/ocr/ellresources.html">Go to Site</a>
            </div>
          </div>
          
          <!-- Tab -->
          <div class="tab">
            <input id="tab-fiftyfive" type="checkbox" name="tabs">
            <label for="tab-fiftyfive">Questions Often Asked by Parents about Special Education Services/ Preguntas Comunes de los Padres sobre la Educación Especial</label>
            <div class="tab-content">
              <p>
                 This question and answer explains in parent-friendly language such special education “basics” as the evaluation process
                under IDEA, how special education can support children’s learning, how eligibility and placement are decided, the writing
                of the IEP, and more.
              </p>
              <a class="button mb3" href="http://www.parentcenterhub.org/lg1sp/">Go to Site</a>
            </div>
          </div>

          <!-- Tab -->
          <div class="tab">
            <input id="tab-fiftysix" type="checkbox" name="tabs">
            <label for="tab-fiftysix">Center for Parent Information and Resources</label>
            <div class="tab-content">
              <p>
                 This site provides a list of different resources for parents to navigate the school system and basic parental rights
              </p>
              <a class="button mb3" href="http://www.parentcenterhub.org/tools-for-spanish-speaking-parents/">Go to Site</a>
            </div>
          </div>

          <!-- Tab -->
          <div class="tab">
            <input id="tab-fiftyseven" type="checkbox" name="tabs">
            <label for="tab-fiftyseven">Center for Parent Information and Resources 2</label>
            <div class="tab-content">
              <p>
                 Center for Patent Information and Resources (CPIR) provides information and resources to parents and families of children
                with disabilities. Information topics include the ADA and IDEA, different types of disabilities, peer-to-peer support, education,
                and more.
              </p>
              <a class="button mb3" href="http://www.parentcenterhub.org/lista-espanol/">Go to Site</a>
            </div>
          </div>

          <!-- Tab -->
          <div class="tab">
            <input id="tab-fiftyeight" type="checkbox" name="tabs">
            <label for="tab-fiftyeight">Autism Society of America</label>
            <div class="tab-content">
              <p>
                 The Autism Society of America is a member organization for individuals on the Spectrum, family members, professionals, and
                advocates. They provide information in English and Spanish on Autism Spectrum Disorder (ASD), research, and advocacy. They
                also provide a magazine called Autism Advocate.
              </p>
              <a class="button mb3" href="http://www.autism-society.org/en-espanol/">Go to Site</a>
            </div>
          </div>

          <!-- Tab -->
          <div class="tab">
            <input id="tab-fiftynine" type="checkbox" name="tabs">
            <label for="tab-fiftynine">Fundación Autismo Diario</label>
            <div class="tab-content">
              <p>
                 The Fundación Autismo Diario is an organization based in Spain with the goal to improve the quality of life of people with
                diverse functionality, especially those with autism spectrum disorders (ASD) through raising awareness and promotion of the
                use, development, and implementation of therapeutic and educational models; support people with ASD and their families, defending
                their rights and improving current laws in different Spanish speaking countries for the equal treatment of people with ASD
                at all levels; and promote and finance research related to neurodevelopmental disorders. The foundation provides a blog that
                shares news from across the Spanish speaking world that includes news in general, health, therapies, education, multimedia,
                events, and so on.
              </p>
              <a class="button mb3" href="http://autismodiario.org">Go to Site</a>
            </div>
          </div>

          <!-- Tab -->
          <div class="tab">
            <input id="tab-sixty" type="checkbox" name="tabs">
            <label for="tab-sixty">Agency for Healthcare Research and Quality (AHRQ)</label>
            <div class="tab-content">
              <p>
                 Agency for Healthcare Research and Quality (AHRQ) provides information in Spanish related to prevention and wellbeing, different
                medical conditions and diseases, medical attention, medications, patient security, and quality of care.
              </p>
              <a class="button mb3" href="https://www.ahrq.gov/topics/informacion-en-espanol/index.html">Go to Site</a>
            </div>
          </div>

          <!-- Tab -->
          <div class="tab">
            <input id="tab-sixtyone" type="checkbox" name="tabs">
            <label for="tab-sixtyone">Healthfinder.gov</label>
            <div class="tab-content">
              <p>
                 Healthfinder.gov is a free guide to health information, developed by the US Department of Health and Human Services.
              </p>
              <a class="button mb3" href="http://healthfinder.gov/espanol">Go to Site</a>
            </div>
          </div>

          <!-- Tab -->
          <div class="tab">
            <input id="tab-sixtytwo" type="checkbox" name="tabs">
            <label for="tab-sixtytwo">List and Glossary of Medical Terms: Spanish</label>
            <div class="tab-content">
              <p>
                 A list of medical terms in the Spanish language
              </p>
              <a class="button mb3" href="users.ugent.be/~rvdstich/eugloss/ES/lijst.html">Go to Site</a>
            </div>
          </div>

          <!-- Tab -->
          <div class="tab">
            <input id="tab-sixtythree" type="checkbox" name="tabs">
            <label for="tab-sixtythree">Medline Plus in Spanish</label>
            <div class="tab-content">
              <p>
                 Medline Plus helps you find the answers to your health related questions. Medline Plus has gathered the most dependable
                information from the best resources, such as the National Library of Medicine and the National Institutes of Health, along
                with other government health agencies and service organizations. Medline Plus also offers plenty of information on medications,
                an illustrated medical encyclopedia interactive programs for patients, and the newest health related news.
              </p>
              <a class="button mb3" href="nlm.nih.gov/medlineplus/spanish/">Go to Site</a>
            </div>
          </div>

          <!-- Tab -->
          <div class="tab">
            <input id="tab-sixtyfour" type="checkbox" name="tabs">
            <label for="tab-sixtyfour">National Alliance for Hispanic Health</label>
            <div class="tab-content">
              <p>
                 National Alliance for Hispanic Health (NAHH) works to close the gap between research, services, and policy; scientific discovery
                and benefit to the individual; and community services and medical practice. They do this by focusing on decision-making that
                takes into account science, culture and community; health care providers being able to tailor care to the individual; individuals
                having the tools and resources to manage their health; national efforts that are connected to global and international efforts;
                capacities and competencies to respond to health emergencies; and services that integrate physical and mental health.
              </p>
              <a class="button mb3" href="healthyamericans.org/">Go to Site</a>
            </div>
          </div>

          <!-- Tab -->
          <div class="tab">
            <input id="tab-sixtyfive" type="checkbox" name="tabs">
            <label for="tab-sixtyfive">ABA Overview Training – Spanish Version</label>
            <div class="tab-content">
              <p>
                 An overview of Applied Behavior Analysis (ABA). Discusses the various approaches used in dealing with the different symptoms
                of Autism Spectrum Disorders. The Spanish ABA Overview training webcast is the original English version with added sub-titles
                for Spanish speaking viewers.
              </p>
              <a class="button mb3" href="https://milestones.org/resource/aba-overview-training-spanish-version/">Go to Site</a>
            </div>
          </div>

          <!-- Tab -->
          <div class="tab">
            <input id="tab-sixtysix" type="checkbox" name="tabs">
            <label for="tab-sixtysix">Organization for Autism Research</label>
            <div class="tab-content">
              <p>
                 Organization for Autism Research (OAR) provides several publications available for free download in English and Spanish.
                Varias publicaciones disponibles para su descarga gratuita, disponibles en inglés y español.
              </p>
              <a class="button mb3" href="https://researchautism.org/how-we-help/families/spanish-language-resources/">Go to Site</a>
            </div>
          </div>

          <!-- Tab -->
          <div class="tab">
            <input id="tab-sixtyseven" type="checkbox" name="tabs">
            <label for="tab-sixtyseven">Federation for Children with Special Needs</label>
            <div class="tab-content">
              <p>
                 A parent’s guide to special education
              </p>
              <a class="button mb3" href="http://fcsn.org/parents_guide/pgspanish.pdf">Go to Site</a>
            </div>
          </div>

          <!-- Tab -->
          <div class="tab">
            <input id="tab-sixtyeight" type="checkbox" name="tabs">
            <label for="tab-sixtyeight">Learning Disorders Online</label>
            <div class="tab-content">
              <p>
                 Informational site for Learning and Developmental Disabilities, in general.
              </p>
              <a class="button mb3" href="http://www.ldonline.org/espanol?lang=en">Go to Site</a>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

  <!-- 7. Books -->
  <div class="card mb3">
    <div class="card-header" id="headingSeven">
      <h5 class="mb-0 center">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
           Books
        </button>
      </h5>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
      <div class="card-body">
      <!-- Card Content -->
      <div class="mw5 mw7-ns center pa3 ph5-ns">
        
        <!-- Tab -->
        <div class="tab">
          <input id="tab-sixtynine" type="checkbox" name="tabs">
          <label for="tab-sixtynine">The Out-of-Sync Child: Recognizing and Coping with Sensory Integration Dysfunction” by Carol Stock Kranowitz, MA</label>
          <div class="tab-content">
            <p>
               The groundbreaking book that explains Sensory Processing Disorder (SPD)--and presents a drug-free approach that offers hope
              for parents--now revised and updated.
            </p>
            <!-- <a class="button mb3" href="https://autismwomensnetwork.org">Go to Site</a> -->
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab">
          <input id="tab-seventy" type="checkbox" name="tabs">
          <label for="tab-seventy">“Far From the Tree: Parents, Children and the Search for Identity” by Andrew Solomon</label>
          <div class="tab-content">
            <p>
               Winner of the National Book Critics Circle Award, a Books for a Better Life Award, and one of The New York Times Book Review’s
              Ten Best Books of 2012, this masterpiece by the National Book Award-winning author of The Noonday Demon features stories
              of parents who not only learn to deal with their exceptional children, but also find profound meaning in doing so—“a brave,
              beautiful book that will expand your humanity” (People). Solomon’s startling proposition in Far from the Tree is that being
              exceptional is at the core of the human condition—that difference is what unites us. He writes about families coping with
              deafness, dwarfism, Down syndrome, autism, schizophrenia, or multiple severe disabilities; with children who are prodigies,
              who are conceived in rape, who become criminals, who are transgender. While each of these characteristics is potentially
              isolating, the experience of difference within families is universal, and Solomon documents triumphs of love over prejudice
              in every chapter.

            </p>
            <!-- <a class="button mb3" href="https://autismwomensnetwork.org">Go to Site</a> -->
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab">
          <input id="tab-seventyone" type="checkbox" name="tabs">
          <label for="tab-seventyone">“Shut Up About Your Perfect Kid: A Survival Guide for Ordinary Parents of Special Children” by Gina Gallagher and Patricia
          Konjoian</label>
          <div class="tab-content">
            <p>
               On a “perfection-preoccupied planet,” sisters Gina and Patty dare to speak up about the frustrations, sadness, and stigmas
              they face as parents of children with disabilities (one with Asperger’s syndrome, the other with bipolar disorder). This
              refreshingly frank book, which will alternately make you want to tear your hair out and laugh your head off, should be required
              reading for parents of disabled children. Shut Up About Your Perfect Kid provides wise and funny advice about how to: • Find
              a support group—either online or in your community • Ensure that your child gets the right in-school support • Deal with
              people—be they friends, family members, or strangers—who say or do insensitive things to you or your child • Find fun, safe,
              and inclusive extracurricular activities for your child • Battle your own grief and seek professional help if you need it
              • Keep the rest of the family intact in moments of crisis
            </p>
            <!-- <a class="button mb3" href="https://autismwomensnetwork.org">Go to Site</a> -->
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab">
          <input id="tab-seventytwo" type="checkbox" name="tabs">
          <label for="tab-seventytwo">“Child Decoded: Unlocking Complex Issues in Your Child’s Learning, Behavior or Attention” by Marijke Jones, Robin E. McEvoy
          PhD and Kim Gangwish</label>
          <div class="tab-content">
            <p>
               What parent hasn't wished for the manual that goes with her child? And children with complex behavior or learning issues
              can be even more confounding.The last twenty years have seen a huge increase, not only in children with learning and behavior
              problems, but in children with bewildering combinations of them. These combinations can defy categorization and resist treatment.
              Figuring these children out can feel like trying to decrypt anespecially complex code, without a cypher. Even professionals
              find it challenging. Child Decoded presents a new kind of resource for a new kind of need. It provides parents with a broader
              understanding of the issues that may be affecting their children, as well as concise information on who can help and how.
            </p>
            <!-- <a class="button mb3" href="https://autismwomensnetwork.org">Go to Site</a> -->
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab">
          <input id="tab-seventythree" type="checkbox" name="tabs">
          <label for="tab-seventythree">“The Autistic Brain: Helping Different Kinds of Minds Succeed” by Temple Grandin and Richard Panek</label>
          <div class="tab-content">
            <p>
               Temple Grandin may be the most famous person with autism, a condition that affects 1 in 88 children. Since her birth in
              1947, our understanding of it has undergone a great transformation, leading to more hope than ever before that we may finally
              learn the causes of and treatments for autism. Weaving her own experience with remarkable new discoveries, Grandin introduces
              the advances in neuroimaging and genetic research that link brain science to behavior, even sharing her own brain scan to
              show which anomalies might explain common symptoms. Most excitingly, she argues that raising and educating kids on the autism
              spectrum must focus on their long-overlooked strengths to foster their unique contributions. The Autistic Brain brings Grandin’s
              singular perspective into the heart of the autism revolution.
            </p>
            <!-- <a class="button mb3" href="https://autismwomensnetwork.org">Go to Site</a> -->
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab">
          <input id="tab-seventyfour" type="checkbox" name="tabs">
          <label for="tab-seventyfour">“Look Me In the Eye: My Life with Asperger’s” by John Elder Robinson</label>
          <div class="tab-content">
            <p>
               Ever since he was young, John Robison longed to connect with other people, but by the time he was a teenager, his odd habits—an
              inclination to blurt out non sequiturs, avoid eye contact, dismantle radios, and dig five-foot holes (and stick his younger
              brother, Augusten Burroughs, in them)—had earned him the label “social deviant.” It was not until he was forty that he was
              diagnosed with a form of autism called Asperger’s syndrome. That understanding transformed the way he saw himself—and the
              world. A born storyteller, Robison has written a moving, darkly funny memoir about a life that has taken him from developing
              exploding guitars for KISS to building a family of his own. It’s a strange, sly, indelible account—sometimes alien yet always
              deeply human.
            </p>
            <!-- <a class="button mb3" href="https://autismwomensnetwork.org">Go to Site</a> -->
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab">
          <input id="tab-seventyfive" type="checkbox" name="tabs">
          <label for="tab-seventyfive">“A Different Kind of Perfect: Writings by Parents on Raising a Child with Special Needs” edited by Cindy Dowling, Bernadette
          Thomas and Neil Nicoll</label>
          <div class="tab-content">
            <p>
               Every parent dreams of having a happy, healthy child. What happens when these dreams are shattered by a physical or cognitive
              disability? A Different Kind of Perfect offers comfort, consolation, and wisdom from parents who have been there—and are
              finding their way through. The writings collected here are grouped into chapters reflecting the progressive stages of many
              parents' emotional journeys, starting with grief, denial, and anger and moving towards acceptance, empowerment, laughter,
              and even joy. Each chapter opens with an introduction by Neil Nicoll, a child and family psychologist who specializes in
              development disorders.
            </p>
            <!-- <a class="button mb3" href="https://autismwomensnetwork.org">Go to Site</a> -->
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab">
          <input id="tab-seventysix" type="checkbox" name="tabs">
          <label for="tab-seventysix">“The Life We Never Expected: Hopeful Reflections on the Challenges of Parenting Children with Special Needs” by Andrew and Rachel Wilson</label>
          <div class="tab-content">
            <p>
               Sometimes life throws you a curveball. Andrew and Rachel Wilson know what it means to live a life they never expected. As
              the parents of two children with special needs, their story mingles deep pain with deep joy in unexpected places. With raw
              honesty, they share about the challenges they face on a daily basis—all the while teaching what it means to weep, worship,
              wait, and hope in the Lord. Offering encouragement rooted in God's Word, this book will help you cling to Jesus and fight
              for joy when faced with a life you never expected.
            </p>
            <!-- <a class="button mb3" href="https://autismwomensnetwork.org">Go to Site</a> -->
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab">
          <input id="tab-seventyseven" type="checkbox" name="tabs">
          <label for="tab-seventyseven">“Gifts: Mothers Reflect on How Children with Down Syndrome Enrich Their Lives(10th Anniversary Edition)” edited by Kathryn Lynard</label>
          <div class="tab-content">
            <p>
               This commemorative 10th anniversary edition of Gifts includes 10 new personal stories, along with where are they now updates
              on many of the children and families featured in the first edition. Gifts is the much-loved collection of over sixty essays
              written by mothers who share their truths about raising children with Down syndrome. Powerful then and powerful now, it affirms
              over and over that a life with an extra chromosome is one worth living. The contributors to this collection have diverse
              personalities and perspectives, and draw from a wide spectrum of ethnicity, world views, and religious beliefs. Some are
              parenting within a traditional family structure; some are not. Some never considered terminating their pregnancy; some struggled
              with the decision. Some were calm at the time of diagnosis; some were traumatized. Some write about their pregnancy and the
              early months after giving birth; some reflect on years of experience with their child. The writers' diverse experiences point
              to a common truth: the life of a child with Down syndrome is something to celebrate. These women have a message to share--not
              just with other mothers but with genetic counselors, obstetricians, and the rest of us. In particular, Gifts, 10th Anniversary
              Edition, provides new parents with a source of up-to-date, positive, and realistic insight that is too often missing when
              they are facing a pre- or postnatal diagnosis of Down syndrome.
            </p>
            <!-- <a class="button mb3" href="https://autismwomensnetwork.org">Go to Site</a> -->
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab">
          <input id="tab-seventyeight" type="checkbox" name="tabs">
          <label for="tab-seventyeight">“Kids Beyond Limits: The Anat Baniel Method for Awakening the Brain and Transforming the Life of Your Child With Special Needs” by Anat Baniel</label>
          <div class="tab-content">
            <p>
               Supported by the latest brain research, The Anat Baniel Method uses simple, gentle movements and focus to help any child,
              who has been diagnosed with autism, Asperger's Syndrome, ADHD, Cerebral Palsy or other developmental disorders. In this supportive
              and hands-on book, Anat Baniel guides parents through the nine essentials of the method, each one designed to harness the
              brain's capacity to heal itself -- with remarkable and sometimes immediate results. By shifting the focus to connecting rather
              than 'fixing', this powerful yet simple method helps both children and parents to de- stress, focus, and grow. Most of all,
              the it helps all children maximize their potential, no matter what their diagnosis.
            </p>
            <!-- <a class="button mb3" href="https://autismwomensnetwork.org">Go to Site</a> -->
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab">
          <input id="tab-seventynine" type="checkbox" name="tabs">
          <label for="tab-seventynine">'Parenting Children with Health Issues and Special Needs' by Foster Cline and Lisa Greene</label>
          <div class="tab-content">
            <p>
               Raise happy, healthier kids! Discover how to engage and communicate with children of all ages using these proven, practical
              techniques. Any parent, medical professional or teacher can immediately apply these universal tools when working with a wide
              range of conditions such as. . ADD/ ADHD . Developmental Delays . Allergies . Diabetes . Asperger's & Autism . Disabilities.
              Behavior Problems . Health Issues . Cystic Fibrosis . Learning Difficulties This condensed version includes the Love and
              Logic essentials from the award-winning book Parenting Children with Health Issues. Now available through Love and Logic.
            </p>
            <!-- <a class="button mb3" href="https://autismwomensnetwork.org">Go to Site</a> -->
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab">
          <input id="tab-eighty" type="checkbox" name="tabs">
          <label for="tab-eighty">“A Good and Perfect Gift: Faith, Expectation, and a Little Girl Named Penny” by Amy Julia Becker</label>
          <div class="tab-content">
            <p>
               An Honest, Hopeful Look at Unexpected Challenges Challenging surprises often lead to unexpected joy. Amy Julia opens eyes
              and softens hearts as she brings readers into her own story of disappointment turned to blessing. This is a journey of discovering
              strength through weakness, and the author learns to embrace the face that we are all dependent on God and one another. This
              books will inspire readers who appreciate beautiful writing coupled with deep insights about life and faith.
            </p>
            <!-- <a class="button mb3" href="https://autismwomensnetwork.org">Go to Site</a> -->
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab">
          <input id="tab-eightyone" type="checkbox" name="tabs">
          <label for="tab-eightyone">“The Boy in the Moon: A Father’s Journey to Understand His Extraordinary Son” by Ian Brown</label>
          <div class="tab-content">
            <p>
               Ian Brown’s son Walker is one of only about 300 people worldwide diagnosed with cardiofaciocutaneous (CFC) syndrome—an extremely
              rare genetic mutation that results in unusual facial appearance, the inability to speak, and a compulsion to hit himself
              constantly. At age thirteen, he is mentally and developmentally between one and three years old and will need constant care
              for the rest of his life. Brown travels the globe, meeting with genetic scientists and neurologists as well as parents, to
              solve the questions Walker’s doctors can’t answer. In his journey, he offers an insightful critique of society’s assumptions
              about the disabled, and he discovers a connected community of families living with this illness. As Brown gradually lets
              go of his self-blame and hope for a cure, he learns to accept the Walker he loves, just as he is. Honest, intelligent, and
              deeply moving, The Boy in the Moon explores the value of a single human life.
            </p>
            <!-- <a class="button mb3" href="https://autismwomensnetwork.org">Go to Site</a> -->
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab">
          <input id="tab-eightytwo" type="checkbox" name="tabs">
          <label for="tab-eightytwo">“Will My Kid Grow Out Of It? A Child Psychologist’s Guide to Understanding Worrisome Behavior” by Bonny J. Forrest</label>
          <div class="tab-content">
            <p>
               Will My Kid Grow Out of It? is an indispensable guide to the most common mental, neurological, and developmental issues
              kids—from newborn through high school—may be struggling with. Dr. Forrest draws on more than 20 years of experience treating
              and advocating for children to help worried parents sort through the health scares, contradictory information, and latest
              buzz terms to assess whether their child’s behavior is typical for his or her age or a sign that professional attention may
              be warranted. She uses lay terms to describe sets of behaviors that may be problematic, possible diagnoses, which professionals
              are appropriate to consult, effective treatments, and the steps to take to get support and services from schools and the
              state. The book even includes a code allowing readers access to a free online screening tool. A vital guide to have on hand
              during a child’s formative years, Will My Kid Grow Out of It? is the most informative, fresh, and essential parenting guide
              released in years.
            </p>
            <!-- <a class="button mb3" href="https://autismwomensnetwork.org">Go to Site</a> -->
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab">
          <input id="tab-eightythree" type="checkbox" name="tabs">
          <label for="tab-eightythree">“Thinking Differently: An Inspiring Guide for Parents of Children with Learning Disabilities” by David Flink</label>
          <div class="tab-content">
            <p>
               An innovative, comprehensive guide—the first of its kind—to help parents understand and accept learning disabilities in
              their children, offering tips and strategies for successfully advocating on their behalf and helping them become their own
              best advocates. Thinking Differently will not overwhelm parents with legal jargon, but it will guide them through what laws
              are on their side and what they can insist that schools provide for their child. With compassion and hope, Flink describes
              the importance of testing and diagnosis to equip parents with the tools they need to advocate authoritatively on their child's
              behalf and to seek the most effective accommodations—from technology to extra time and medication—to guarantee that their
              child succeeds in school and life.
            </p>
            <!-- <a class="button mb3" href="https://autismwomensnetwork.org">Go to Site</a> -->
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab">
          <input id="tab-eightythree" type="checkbox" name="tabs">
          <label for="tab-eightythree">“Essential First Steps for Parents of Children with Autism: Helping the Littlest Learners” by Lara Delmoline and Sandra L. Harris</label>
          <div class="tab-content">
            <p>
               When autism is diagnosed or suspected in young children, overwhelmed parents wonder where to turn and how to begin helping
              their child. Drs. Delmolino and Harris, experienced clinicians and ABA therapists, eliminate the confusion and guesswork
              by outlining the pivotal steps parents can take now to optimize learning and functioning for children age 5 and younger.
            </p>
            <!-- <a class="button mb3" href="https://autismwomensnetwork.org">Go to Site</a> -->
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab">
          <input id="tab-eightyfour" type="checkbox" name="tabs">
          <label for="tab-eightyfour">“The Complete Guide to Creating a Special Needs Life Plan: A Comprehensive Approach Integrating Life, Resource, Financial,
          and Legal Planning to Ensure a Brighter Future for a Person with a Disability” by Hal Wright</label>
          <div class="tab-content">
            <p>
               The purpose of special needs planning is to create the best possible life for an adult with a disability. This book provides
              comprehensive guidance on creating a life plan to transition a special needs child to independence or to ensure they are
              well cared for in the future. Beginning with a vision of a meaningful life for the child, Hal Wright explains how to form
              a practical plan to reach these goals, how to mentor personal empowerment and task skills, and how to create circles of support
              to sustain a life plan. He next looks at employment and residential options, and government programs available in the United
              States. Finally he talks the reader through important financial and legal considerations, including how to fund and manage
              a special needs trust.
            </p>
            <!-- <a class="button mb3" href="https://autismwomensnetwork.org">Go to Site</a> -->
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab">
          <input id="tab-eightyfive" type="checkbox" name="tabs">
          <label for="tab-eightyfive">“Parenting an Adult with Disabilities or Special Needs: Everything You Need to Know to Plan for and Protect Your Child’s Future” by Peggy Lou Morgan</label>
          <div class="tab-content">
            <p>
               Offers practical advice for parents of adult children with disabilities, discussing vocational programs, government and
              private funding, residential options, power of attorney, and working on transitional plans Every parent of a child with disabilities
              knows just how overwhelming and frustrating it can be. When these children enter adulthood, the difficulties can become even
              greater. Many parents are tempted to keep their children at home, believing that they will be safer and happier under their
              care. But adults with special needs deserve the same chance at a happy life as everyone else. As the mother of an adult child
              with disabilities, Peggy Lou Morgan has years of experience dealing with the challenges these adults face every day. She
              believes that the most loving thing parents can do for their children is to prepare them to leave home in a way that works
              best for them.
            </p>
            <!-- <a class="button mb3" href="https://autismwomensnetwork.org">Go to Site</a> -->
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab">
          <input id="tab-eightysix" type="checkbox" name="tabs">
          <label for="tab-eightysix">“Chicken Soup for the Soul: Children with Special Needs: Stories of Love and Understanding for Those Who Care for Children with Disabilities” By Jack Canfield, Mark Victor Hansen, Heather McNamara, and Karen Simmons</label>
          <div class="tab-content">
            <p>
               Raising a child with special needs is a lifelong commitment that is as unique as each person who embarks on it. Written
              by a variety of authors who share in this distinctive relationship, Chicken Soup for the Soul Children with Special Needs
              offers a glimpse into the lives of others who are on a similar path.
            </p>
            <!-- <a class="button mb3" href="https://autismwomensnetwork.org">Go to Site</a> -->
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab">
          <input id="tab-eightyseven" type="checkbox" name="tabs">
          <label for="tab-eightyseven">“After the Tears : Parents Talk About Raising a Child With a Disability” By Robin Simons</label>
          <div class="tab-content">
            <p>
               Personal accounts by parents who have responded to the daily challenge of making a life for and with a disabled child. Photographs
              and line drawings.
            </p>
            <!-- <a class="button mb3" href="https://autismwomensnetwork.org">Go to Site</a> -->
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab">
          <input id="tab-eightyeight" type="checkbox" name="tabs">
          <label for="tab-eightyeight">“In Time and With Love : Caring for the Special Needs Baby” by Marilyn Segal</label>
          <div class="tab-content">
            <p>
              Sensitive, practical advice on play and care for preterm and handicapped children in their first three years covers such
              subjects as nursing, feeding, and dressing; interacting with siblings; coping with doctors; discipline; social skills development;
              and tough decision-making. 50 photographs, resource guide, index.
            </p>
            <!-- <a class="button mb3" href="https://autismwomensnetwork.org">Go to Site</a> -->
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab">
          <input id="tab-eightynine" type="checkbox" name="tabs">
          <label for="tab-eightynine">“Parent’s Complete Special Education Guide” By Roger Pierangelo, Robert Jacoby</label>
          <div class="tab-content">
            <p>
               Discusses the rules and regulations involved in the special education process The authors deal with common medication information,
              practical parenting suggestions, and the transition of special students to adult life. The five appendixes contain a wealth
              of information, including a glossary of special education terms, forms used by the Committee on Special Education, organizations
              and publications for special children, and various types of special education tests. Their guide gives parents all the pertinent
              information they need to navigate the many rules and regulations involved in the special education process.
            </p>
            <!-- <a class="button mb3" href="https://autismwomensnetwork.org">Go to Site</a> -->
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab">
          <input id="tab-ninety" type="checkbox" name="tabs">
          <label for="tab-ninety">“When You Worry About the Child You Love : Emotional and Learning Problems in Children” by Edward Hallowell</label>
          <div class="tab-content">
            <p>
              Surveys the most common childhood behavioral problems, explains their biological and genetic bases, and specifies appropriate
              treatment procedures
            </p>
            <!-- <a class="button mb3" href="https://autismwomensnetwork.org">Go to Site</a> -->
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab">
          <input id="tab-ninetyone" type="checkbox" name="tabs">
          <label for="tab-ninetyone">“The Parent to Parent Handbook, Connecting Families of Children with Special Needs” By Betsy Santelli, Florene Stewart Poyadue and Jane Leora Young</label>
          <div class="tab-content">
            <p>
               Parents of children with disabilities often receive valuable support from professionals, but wouldn't it be great if they
              could also turn to parents in similar situations? That's where Parent to Parent programs come in, matching 'veteran' parents
              of children with disabilities with others seeking emotional and informational support. The authors of this comprehensive
              book, two moms who've been there and a leading Parent to Parent expert, walk readers step-by-step through the process of
              developing and expanding a strong local program--one that connects parents of children with disabilities with the kind of
              support only experienced parents can offer.
            </p>
            <!-- <a class="button mb3" href="https://autismwomensnetwork.org">Go to Site</a> -->
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab">
          <input id="tab-ninetytwo" type="checkbox" name="tabs">
          <label for="tab-ninetytwo">“Special Children, Challenged Parents : The Struggles and Rewards of Raising a Child With a Disability” By Robert A. Naseef</label>
          <div class="tab-content">
            <p>
               Special Children, Challenged Parents shares the unique perspective of a father of a son with autism, with additional reflection
              from his perspective as a clinical psychologist who specializes in working with families of children with disabilities. This
              moving book illustrates the impact that a child's disability has on the entire family. It is a valuable aid to parents dealing
              with fear, guilt, shame, sibling rivalry, marital strain, and other challenges. Though the author's personal experience is
              with autism, this book will be a valuable resource for families of children with a wide range of disabilities. Readers learn
              about resources, such as support groups, for working through complex emotions and about techniques for communicating effectively
              with professionals.
            </p>
            <!-- <a class="button mb3" href="https://autismwomensnetwork.org">Go to Site</a> -->
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab">
          <input id="tab-ninetythree" type="checkbox" name="tabs">
          <label for="tab-ninetythree">“You Will Dream New Dreams: Inspiring Personal Stories by Parents of Children With Disabilities” by Kim Schive and Stanley D. Klein (Editors)</label>
          <div class="tab-content">
            <p>
               You Will Dream New Dreams: Inspiring Personal Stories by Parents of Children with Disabilities includes pieces like 'Hard
              Choices,' on the painful decision to place a brain-damaged child in a group home, and 'Getting to Know My Son,' on a mother's
              struggle to accept and love a child with Down's syndrome. Compiled by clinical psychologist Stanley D. Klein and Kim Schive,
              a former editor of Exceptional Parent magazine, the book offers emotional support to disabled children's families and should
              help educators and health-care professionals better understand these parents' perspectives.
            </p>
            <!-- <a class="button mb3" href="https://autismwomensnetwork.org">Go to Site</a> -->
          </div>
        </div>
        
        <!-- Tab -->
        <div class="tab">
          <input id="tab-ninetyfour" type="checkbox" name="tabs">
          <label for="tab-ninetyfour">“A Parent's Guide to Developmental Delays : Recognizing and Coping with Missed Milestones in Speech, Movement, Learning, and Other Areas” by Laurie Fivozinsky LeComer</label>
          <div class="tab-content">
            <p>
              
            </p>
            <!-- <a class="button mb3" href="https://autismwomensnetwork.org">Go to Site</a> -->
          </div>
        </div>








      </div>
      </div>
    </div>
  </div>


</div>
