<main class="cf mw9 center">
  <header class="bg-gold sans-serif">
    <div class="mw9 center pa4 pt5-ns ph7-l">
      <time class="f6 mb2 dib ttu tracked"><small>Contact Us</small></time>
      <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
        <span class="bg-black-90 lh-copy white pa1 tracked-tight">
          Contact us M-F (9AM-5PM)
          <br/> 912-290-8756
        </span>
      </h3>
      <h4 class="f3 fw1 georgia i">
        Email: <a href="mailto:info@caregiverconnect.com<">info@caregiverconnect.com</a>
      </h4>
      <!-- <h5 class="f6 ttu tracked black-80">Caregiver Connect</h5> -->
    </div>
  </header>
  <img src="http://mrmrs.github.io/photos/u/015.jpg" class="db" alt="contact us" />
</main>