<footer class="pa4 pa5-l black-70 bt b--black-10">
  <div class="mb4-l cf">
  </div>
  <!-- <section class="cf mb5">
    <div class="center mb4 mb0-ns w-50 w-50-l">
      <p class="f4 fw6 mb2 f6 mt0">
        Sign up for our newsletter.
      </p>
      <input placeholder="Email Address" class="mw-100 w-100 w5-ns f5 input-reset ba b--black-20 pv3 ph4 border-box">
      <input type="submit" class="input-reset w-100 w-auto-ns bg-black-80 white f5 pv2 pv3-ns ph4 ba b--black-80 bg-hover-mid-gray">
    </div>
  </section> -->
  <div class="tc center">
    <div class="tc center v-mid">
      <p class="f7 black-70 dib pr3 mb3">
        Copyright © Caregiver Connect Center 2018
      </p>
    </div>
  </div>

</footer>