<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Brand -->
  <%= if (entry-nav) { %>
    <a class="navbar-brand" href="/">Caregiver<br>Connect</a>
  <% } else { %>
    <a class="navbar-brand" href="/home">Caregiver<br>Connect</a>
  <% } %>

  <!-- Nav Menu + more -->
  <%= if (!entry-nav) { %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resources">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://forum.caregiverconnectcenter.org">Forum</a>
        </li>
      </ul>
    </div>
  <% } %>
  
</nav>