<section class="entry">

  <section class="hero welcome-image is-light is-large">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body welcome-image">
      <div class="container has-text-centered">
        <h2 class="pt2 pl2 pr2 mt2 mb0 f6 fw4 ttu tracked white hero-text text-underlay">Welcome To</h2>
        <h1 class="pl2 pr2 f-5 white mb4 hero-text text-underlay">
          Caregiver Connect
        </h1>
        <a href="/home" >
          <!-- Enter site -->
          <div class="mt2 typeform-button">
            <%= if (survey-taken) { %>
              <%= partial("survey/disabledbutton.html") %>
            <% } else { %>
              <%= partial("survey/typeformbutton.html") %>
            <% } %>
          </div>
          <!-- <button type="button" class="button is-medium">Enter site</button> -->
          <!-- <button type="button" class="button is-medium" data-toggle="modal" data-target="#exampleModal">Enter site</button> -->
        </a>
        

      </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
    </div>
  </section>

</section>


<!-- Modal -->
<div class="modal fade tc center" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="columns">
    <!-- <div class="column is-half"> -->
    <div class="center column is-half">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Consent Form</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%= form({action: "/", method: "POST", "data-remote": "true"}) { %>
          <div class="modal-body center">
            <div class="columns">
              <!-- <div class="column is-half"> -->
              <div class="center column is-two-thirds">
                By entering your email, you are agreeing to be mailed a consent form.
              </div>
            </div>
            <div id="entry-consent-form">
              <div class="columns">
                <!-- <div class="column is-half"> -->
                <div class="center column is-two-thirds">
                  <input type="email" class="form-control mt4 mb4 is-half" name="Email" type="text" value="" placeholder="Enter Email Address">
                </div>
              </div>
            </div>
              
            </div>
          <div class="modal-footer tc center">
            <button class="btn btn-success" type="submit">Submit & Enter the Site</button>
            <button id="close-modal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>

</div>
