<section class="home">
  <section class="hero hero-image is-medium ">
  <!-- <section class="hero is-medium"> -->
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
    </div>
  
    <!-- Hero content: will be in the middle -->
    <div class="hero-body fluid-container text-underlay">
      <!-- bg-carousel -->
        <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="https://webnew.ped.state.nm.us/wp-content/uploads/2017/12/stock_image_3.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://webnew.ped.state.nm.us/wp-content/uploads/2017/12/stock_image_3.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://webnew.ped.state.nm.us/wp-content/uploads/2017/12/stock_image_3.jpg" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div> -->
      <!-- bg-carousel END -->


      <div class="container has-text-centered">
        <h1 class="f-5 white">
           Caregiver Connect Center
        </h1>
        <h2 class="f4 white">
           Welcome to Caregiver Connect Center. We provide many different ways for you to connect and engage with other caregivers
          from all over the world.
        </h2>
      </div>
    </div>
  
    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot text-underlay">
      <section class="ph3 ph5-ns pv5">
        <article class="mw8 center br2 ba b--light-blue bg-lightest-blue">
          <div class="dt-ns dt--fixed-ns w-100">
            <div class="pa3 pa4-ns dtc-ns v-mid">
              <div>
                <h2 class="fw4 blue mt0 mb3">See some of our great resources </h2>
                <p class="black-70 measure lh-copy mv0">
                  Our resources center has a variety of information to expand your understanding.
                </p>
              </div>
            </div>
            <div class="pa3 pa4-ns dtc-ns v-mid">
              <a href="/resources" class="no-underline f6 tc db w-100 pv3 bg-blue white br2">See resources</a>
            </div>
          </div>
        </article>
      </section>
    </div>
  </section>
  <!-- Info Section -->
  <section class="hero is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="dn title">
          Take a look at what we can offer!
        </h1>
        <h2 class="dn subtitle">
          Primary bold subtitle
        </h2>
      </div>
    </div>
  </section>
  <!-- More Info Section -->
  <section class="dn more-info mt4 mb4">
    <div class="columns">
      <div class="column ml4">
        <!-- <figure class="image is-5by3">
        <img src="https://bulma.io/images/placeholders/800x480.png">
      </figure> -->
        <h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
          aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </h4>
      </div>
      <div class="column mr4">
        <!-- <figure class="image is-5by3">
        <img src="https://bulma.io/images/placeholders/800x480.png">
      </figure> -->
        <h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
          aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </h4>
      </div>
    </div>
  </section>
</section>