
<article class="pb4">
  <div class="forum-image vh-100 dt w-100 tc bg-dark-gray white cover">
    <div class="dtc v-mid text-underlay">
      <h1 class="f1 f-headline-l fw1 i white-60">Forum</h1>
      <blockquote class="ph0 mh0 mb4 measure f4 lh-copy center ">
        <%= if (survey-taken) { %>
          <p class="fw1 white-70">
            Now that you've taken the survey, sign up for the forum below
          </p>
        <% } else { %>
          <p class="fw1 white-70">
            The forum is only available to those who have qualified after taking the survey.
          </p>
        <% } %>
      </blockquote>
      

      <div class="mt2 typeform-button">
        <%= if (survey-taken) { %>
          <a class="button is-warning" href="https://forum.caregiverconnectcenter.org">Join the Forum</a>
        <% } else { %>
            <a class="button is-warning" href="/survey">Take the Survey</a>
        <% } %>
      </div>
    </div>
  </div>
  
</article>